body {
  background: #BE93C5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7BC6CC, #BE93C5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Poppins', sans-serif;
}

/* navbar */
.navbar {
  transition: all 0.4s;
  font-family: 'Poppins', sans-serif;
}

.navbar .nav-link {
  color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff;
}

/* Change navbar styling on scroll */
.navbar.active {
  background: #DBD9EB;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #555;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #555;
}
/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
    background: #fff;
  }

  .navbar .navbar-brand, .navbar .nav-link {
    color: #555;
  }
}

/* home page */
.home {
  font-family: 'Poppins', sans-serif;
  margin-left: 30px;
  margin-top: 120px;
  color: #ffff;
  margin-right: 20px;
  font-size: 15px;
}

.home h1 {
  font-size: 45px;
}

/* desktop view  */
@media screen and (min-width: 800px) {
  .home {
    margin-right: 300px;
    margin-left: 300px;
    font-size: 20px;
  }
}

@media screen and (min-width: 800px) {
  .home h1 {
    font-size: 70px;
  }
}

/* ipad view  */
@media only screen and (device-width: 768px) {
  .home h1 {
    font-size: 70px;
  }
}

@media only screen and (device-width: 768px) {
  .home {
    margin-right: 100px;
    margin-left: 100px;
    font-size: 20px;
  }
}

.subitle {
  font-weight: 100;
}

/* introduction of the event  */
.about {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* stats images  */
.stats {
  margin-left: 20px;
}

.stats img {
  width: 100px;
  height: 100px;
}

/* desktop view  */
@media screen and (min-width: 800px) {
  .stats {
    margin-left: 170px;
  }
}

/* ipad view  */
@media (max-width: 768px) and (min-width: 684px) {
  .stats img {
    margin-left: 90px;
  }
}

/* desktop view images */
@media only screen and (min-width: 1060px) {
  .stats img {
    width: 200px;
    height: 200px;
  }
}

/* desktop view margin  */
@media only screen and (min-width: 1060px) {
  .stats {
    margin-left: 200px;
  }
}

/* desktop view stats images  */
@media screen and (min-width: 800px) {
  .stats img {
    width: 150px;
    height: 150px;
  }
}

/* volunteer  */
.volunteer {
  font-family: 'Poppins', sans-serif;
  margin-left: 30px;
  margin-top: 120px;
  color: #ffff;
  margin-right: 30px;
  height: 100%;
}

.volunteer h1 {
  font-size: 55px;
  margin-bottom: 50px;
}

/* volunteer ipad pro view  */
@media screen and (min-width: 800px) {
  .volunteer {
    font-family: 'Poppins', sans-serif;
    margin-left: 300px;
    margin-top: 120px;
    color: #ffff;
    margin-right: 300px;
    height: 60vh;
  }
}

/* ipad view  */
@media only screen and (device-width: 768px) {
  .volunteer h1 {
    font-size: 70px;
  }
}

/* volunteer desktop view  */
@media screen and (min-width: 1000px) and (max-width: 1060px) {
  .volunteer {
    font-family: 'Poppins', sans-serif;
    margin-left: 300px;
    margin-top: 120px;
    color: #ffff;
    margin-right: 300px;
    height: 75vh;
    font-size: 30px;
  }
}

/* volunteer application links  */
.apps a {
  color: #ffff;
  margin-top: 10px;
  padding: 0px;
  text-decoration: underline;
}

.apps a:hover {
  color: #e1cde4;
}

/* faq  */
.faq {
  font-family: 'Poppins', sans-serif;
  margin-left: 20px;
  margin-top: 120px;
  color: #ffff;
  margin-right: 20px;
}

.faq h1 {
  font-size: 70px
}

.faq h6 {
  font-weight: bold;
  font-size: 20px;
}

/* faq desktop view  */
@media screen and (min-width: 800px) {
  .faq {
    font-family: 'Poppins', sans-serif;
    margin-left: 300px;
    margin-top: 120px;
    color: #ffff;
    margin-right: 300px;
  }
}

/* for empty space and aesthetics  */
.box {
  margin-bottom: 50px;
}

.answer {
  margin-bottom: 30px;
}

/* speakers  */
.speakers {
  font-family: 'Poppins', sans-serif;
  margin-left: 30px;
  margin-top: 120px;
  color: #ffff;
  margin-right: 30px;
}

.speakers h1 {
  font-size: 55px;
}

.speakers img {
  float: left;
  border-radius: 50%;
  width: 210px;
  height: 230px;
  margin-right: 50px;
  transition: all .2s ease-in-out;
  margin-bottom: 40px;
}

/* emily's photo  */
.eimg img {
  width: 220px;
  height: 240px;
}

.speakers h2 {
  font-weight: bold;
}

/* transition  */
.speakers img:hover {
  transform: scale(1.2);
}

/* speakers ipad pro view  */
@media screen and (min-width: 800px) {
  .speakers {
    font-family: 'Poppins', sans-serif;
    margin-left: 300px;
    margin-top: 120px;
    color: #ffff;
    margin-right: 300px;
  }
}

/* speakers ipad view  */
@media only screen and (device-width: 768px) {
  .speakers {
    font-family: 'Poppins', sans-serif;
    margin-left: 100px;
    margin-top: 120px;
    color: #ffff;
    margin-right: 100px;
  }
}

/* speakers desktop view  */
@media screen and (min-width: 1000px) and (max-width: 1060px) {
  .speakers {
    font-family: 'Poppins', sans-serif;
    margin-left: 300px;
    margin-top: 120px;
    color: #ffff;
    margin-right: 300px;
    font-size: 30px;
  }
}

/* speakers mobile view  */
@media only screen and (max-width: 760px) {
  .speakers img {
    width: 200px;
    height: 200px;
    text-align: center;
  }
}

@media screen and (min-width: 700px) (max-width: 1000px) {
  .speakers {
    margin-left: 70px;
    margin-right: 70px;
  }
}

/* all buttons follow this  */
button {
  font-family: 'Poppins', sans-serif;
  background-color: #DBD9EB;
  border: none;
  color: black;
  padding: 7px 12px;
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 7px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  border-radius: 30px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 40px;
}

/* ElevateHER */
.mentorship {
  font-family: 'Poppins', sans-serif;
  margin-left: 30px;
  margin-top: 120px;
  color: #ffff;
  margin-right: 50px;
}

.mentorship h1 {
  font-size: 40px;
  text-align: center;
}

.col-sm h4 {
  margin-top: 20px;
  font-weight: bold;
}

.container h2 {
  font-weight: bold;
  margin-bottom: 60px;
}

.mentorship a:link {
  color: #A67BD4;
  text-decoration: none;
}

.mentorship a:hover {
  text-decoration: underline;
}

/* Apply for being a mentee */
.appbutton {
  margin-top: 30px;
}

.appbutton a:link, a:visited {
  color: #A67BD4;
  text-decoration: none;
}

.appbutton a:hover {
  color: white;
  text-decoration: underline;
}


/* mentorship desktop view */
@media screen and (min-width: 800px) {
  .mentorship {
    font-family: 'Poppins', sans-serif;
    margin-left: 300px;
    margin-top: 120px;
    color: #ffff;
    margin-right: 300px;
  }
}

/* mentorship desktop h1 */
@media screen and (min-width: 800px) {
  .mentorship h1 {
    font-size: 60px;
  }
}

/* accordion */
.faqmain h2 {
  font-weight: bold;
  margin-bottom: 30px;
}
.accordion {
  background-color: #DBD9EB;
  color: #A67BD4;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  font-size: 15px;
  transition: 0.4s;
}

.accordion:hover {
  background-color: #DBD9EB;
}

.accordion:after {
  content: '\002B';
  color: #A67BD4;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: #A67BD4;
  text-align: left;
}

/* resources */
.resources {
  font-family: 'Poppins', sans-serif;
  margin-left: 20px;
  margin-top: 120px;
  color: #ffff;
  margin-right: 20px;
}

.resources h1 {
  font-size: 50px
}

.resources a {
  color: #ffff;
  margin-top: 10px;
  padding: 5px;
  text-decoration: underline;
}

.resources a:hover {
  color: #e1cde4;
}

.card-body {
  color: black;
}

.card {
  margin-bottom: 20px;
}
/* resources desktop view */
@media screen and (min-width: 1100px) {
  .resources {
    font-family: 'Poppins', sans-serif;
    margin-left: 300px;
    margin-top: 80px;
    color: #ffff;
    margin-right: 300px;
  }
}

/* resources desktop h1 */
@media screen and (min-width: 800px) {
  .resources h1 {
    font-size: 70px;
    margin-top: 150px;
  }
}

/* resources ipad */
@media screen and (min-width: 800px) (max-width: 1000px) {
  .resources  {
    margin-left: 70px;
    margin-right: 70px;
  }
}

/* sponsor */
.sponsors {
  font-family: 'Poppins', sans-serif;
  margin-left: 80px;
  margin-top: 120px;
  color: #ffff;
  height: auto;
}

.sponsors h1 {
  font-size: 50px
}

.sponsors img {
  height: 100px;
  width: auto;
}

.sponsors a {
  color: #ffff;
  margin-top: 10px;
  text-decoration: underline;
}

.sponsors a:hover {
  color: #e1cde4;
}

.gold {
  margin-top: 30px;
  margin-bottom: 30px;
}

.gold img {
  height: 70px;
}

.silver {
  margin-bottom: 30px;
}

.silver img {
  height: 110px;
}

.bronze img {
  height: 120px;
  margin-right: 20px;
}

/* transition  */
.sponsors img:hover {
  transform: scale(1.2);
}

/* sponsors desktop h1 */
@media screen and (min-width: 800px) {
  .sponsors {
    font-size: 70px;
    margin-left: 250px;
    margin-right: 110px;
  }
}

/* sponsors h3 phone view */
@media screen and (max-width: 600px) {
  .sponsors h3 {
    font-size: 30px;
  }
}

/* sponsors phone view */
@media screen and (max-width: 600px) {
  .sponsors img {
    height: 80px;
  }
}

/* gold sponsors img phone view */
@media screen and (max-width: 600px) {
  .gold img {
    height: 60px;
    margin-top: 20px;
  }
}
/* Prizes */
.prizes {
  font-family: 'Poppins', sans-serif;
  margin-left: 20px;
  margin-top: 120px;
  color: #ffff;
  margin-right: 20px;
}

.prizes h1 {
  font-size: 70px
}

.prizes .row h5 {
  font-weight: bold;
  font-size: 20px;
}

.prizes .card {
  background-color: #e1cde4;
}

.prizes .card-body {
  color: white;
}

.prizes a {
  color: #ffff;
  margin-top: 10px;
  padding: 0px;
  text-decoration: underline;
  font-weight: none;
}

.prizes a:hover {
  color: #e1cde4;
}

/* faq desktop view  */
@media screen and (min-width: 800px) {
  .prizes {
    font-family: 'Poppins', sans-serif;
    margin-left: 300px;
    margin-top: 120px;
    color: #ffff;
    margin-right: 300px;
  }
}

/* Code of Conduct */
.codeofconduct {
  font-family: 'Poppins', sans-serif;
  margin-left: 20px;
  margin-top: 120px;
  color: #ffff;
  margin-right: 30px;
}

.codeofconduct h1 {
  font-size: 45px;
  font-weight: 10px;
}

.codeofconduct h5 {
  text-decoration: underline;
}

.codeofconduct h6 {
  margin-bottom: 30px;
}

.codeofconduct a {
  color: #ffff;
  margin-top: 10px;
  text-decoration: underline;
}

.codeofconduct a:hover {
  color: #e1cde4;
}

@media screen and (min-width: 800px) {
  .codeofconduct {
    font-family: 'Poppins', sans-serif;
    margin-left: 300px;
    margin-top: 120px;
    color: #ffff;
    margin-right: 300px;
  }
}

/* ipad view  */
@media only screen and (device-width: 768px) {
  .codeofconduct h1 {
    font-size: 70px;
  }
}

/* codeofconduct desktop view  */
@media screen and (min-width: 1000px) and (max-width: 1060px) {
  .codeofconduct {
    font-family: 'Poppins', sans-serif;
    margin-left: 300px;
    margin-top: 120px;
    color: #ffff;
    margin-right: 300px;
    font-size: 30px;
  }
}

/* Schedule */
.sched {
  font-weight: 10px;
  margin-top: 120px;
  color: #ffff;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.sched h1 {
  font-size: 70px;
}

@media screen and (min-width: 800px) {
  .sched {
    font-family: 'Poppins', sans-serif;
    margin-left: 300px;
    margin-top: 120px;
    color: #ffff;
    margin-right: 300px;
  }
}

/* ipad view  */
@media only screen and (device-width: 768px) {
  .sched h1 {
    font-size: 70px;
  }
}

/* codeofconduct desktop view  */
@media screen and (min-width: 1000px) and (max-width: 1060px) {
  .sched {
    font-family: 'Poppins', sans-serif;
    margin-left: 300px;
    margin-top: 120px;
    color: #ffff;
    margin-right: 300px;
    font-size: 30px;
  }
}

.timeline {
  position: relative;
  font-family: 'Poppins', sans-serif;
  max-width: 500px;
  margin: 0 auto;
  padding: 15px 0;
  margin-top: 30px;
}

@media screen and (max-width: 800px) {
  .timeline::after {
    display: none;
  }
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #e1cde4;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
  max-width: 500px;
}

@media screen and (max-width: 800px) {
  .timeline::after {
    margin-left: 40%;
    max-width: 100%;
    z-index: -1;
  }
}

.schedcontainer {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .schedcontainer {
    width: 65%;
  }
}

.schedcontainer.left {
  right: 50%;
}

@media screen and (max-width: 800px) {
  .schedcontainer.left  {
    right: 2%;
  }
}

.schedcontainer.right {
  left: 50%;
}

@media screen and (max-width: 800px) {
  .schedcontainer.right  {
    left: 35%;
  }
}

.schedcontainer::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #BE93C5;
  border: 2px solid #e1cde4;
  border-radius: 16px;
  z-index: 1;
}

@media screen and (max-width: 800px) {
  .schedcontainer.left::after  {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .schedcontainer.right::after  {
    display: none;
  }
}

.schedcontainer.right::after {
  left: -5px;
}

@media screen and (max-width: 800px) {
  .schedcontainer.right::after  {
    left: 0%;
  }
}

.schedcontainer::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #e1cde4;
  z-index: 1;
}

@media screen and (max-width: 800px) {
  .schedcontainer::before  {
    height: 2px;
    width: 20px;
    top: calc(50% - 2px);
  }
}
.schedcontainer.right::before {
  left: 8px;
}

@media screen and (max-width: 800px) {
  .schedcontainer.right::before {
    left: 10px;
  }
}

@media screen and (max-width: 800px) {
  .schedcontainer.left::before {
    right: 10px;
  }
}

.schedcontainer .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 10px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.schedcontainer.left .date {
  right: -150px;
}

@media screen and (max-width: 800px) {
  .schedcontainer.left .date {
    right: -120px;
  }
}
.schedcontainer.right .date {
  left: -150px;
}

@media screen and (max-width: 800px) {
  .schedcontainer.right .date {
    left: -120px;
  }
}

.schedcontainer .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: #e1cde4;
  border: 2px solid #BE93C5;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  z-index: 1;
}

@media screen and (max-width: 800px) {
  .schedcontainer .icon  {
    display: none;
  }
}

.schedcontainer.left .icon {
  right: 56px;
}

.schedcontainer.right .icon {
  left: 56px;
}

.schedcontainer .content {
  padding: 30px 90px 30px 30px;
  background: #e1cde4;
  position: relative;
  border-radius: 0 500px 500px 0;
}

@media screen and (max-width: 800px) {
  .schedcontainer .content  {
    padding: 20px 20px 20px 20px;
    border-radius: 500px 0px 0px 500px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.schedcontainer.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

@media screen and (max-width: 800px) {
  .schedcontainer.right .content  {
    padding: 20px 10px 10px 20px;
    border-radius: 0px 500px 500px 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.schedcontainer .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: #BE93C5;
  text-transform: uppercase;
  font-weight: 600;
}

.schedcontainer .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after,
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 100px;
    border-color: transparent #006E51 transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 15px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 146px;
  }

  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}
/*Footer*/
footer {
  text-align: center;
  height: 100%;
  padding: 10px 10px 20px;
  margin-bottom: -10px;
}

.contact a {
  color: #ffff;
  margin-top: 10px;
  padding: 5px;
  text-decoration: underline;
}

.contact p {
  color: #ffff;
  margin-top: 20px;
}

.contact a:hover {
  color: #e1cde4;
}

.contact i {
  padding-left: 10px;
  font-size: 25px;
}
