body {
  background: #BE93C5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7BC6CC, #BE93C5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Poppins', sans-serif;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .stats img {
    width: 40px;
    height: 40px;
  }
}

#navbar a {
  font-family: 'Poppins', sans-serif;
  position: absolute;
  left: -80px;
  transition: 0.1s;
  padding: 13px;
  width: 120px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  border-radius: 0 5px 5px 0;
  text-align: center;
}

#navbar a:hover {
  left:1px;
}

#about {
  top: 20px;
  background-color: #BE93C5;
}

#register {
  top: 100px;
  background-color: #BE93C5;
}

#volunteer {
  top: 180px;
  background-color: #BE93C5;
}

#faq {
  top: 260px;
  background-color: #BE93C5;
}

#sponsors {
  top: 340px;
  background-color: #BE93C5;
}

#resources {
  top: 420px;
  background-color: #BE93C5;
  font-size: 15px;
}

#contact {
  top: 500px;
  background-color: #BE93C5;
}

.home {
  font-family: 'Poppins', sans-serif;
  margin-left: 60px;
  margin-top: 80px;
  color: #ffff;
  margin-right: 20px;
  font-size: 15px;
}

.home h1 {
  font-size: 45px;
}

@media screen and (min-width: 800px) {
  .home {
    margin-right: 300px;
    margin-left: 300px;
    font-size: 20px;
  }
}

@media screen and (min-width: 800px) {
  .home h1 {
    font-size: 70px;
  }
}

@media only screen and (device-width: 768px)
{
  .home h1 {
    font-size: 70px;
  }
}

@media only screen and (device-width: 768px)
{
  .home {
    margin-right: 100px;
    margin-left: 100px;
    font-size: 20px;
  }
}

.subitle {
  font-weight: 100;
}

.about {
  margin-top: 50px;
  margin-bottom: 50px;
}

/** #stats
{
  width: 170px;
	height: 170px;
	background:#e1cde4;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
  float:left;
  margin:5px;
  text-align: justify;
}
.count
{
  line-height: 100px;
  color:white;
  margin-left:50px;
  font-size:30px;
}
**/
@media screen and (min-width: 800px) {
  .stats {
    margin-left: 170px;
  }
}


.stats {
  margin-left: 20px;
}

.stats img {
  width: 100px;
  height: 100px;
}

@media only screen and (min-width: 1060px)
{
  .stats img {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (min-width: 1060px)
{
  .stats {
    margin-left: 200px;
  }
}

@media screen and (min-width: 800px) {
  .stats img {
    width: 150px;
    height: 150px;
  }
}

@media only screen and (device-width: 768px)
{
  .home h1 {
    font-size: 70px;
  }
}

.volunteer {
    font-family: 'Poppins', sans-serif;
    margin-left: 60px;
    margin-top: 80px;
    color: #ffff;
    margin-right: 30px;
    height: 100%;
  }

  .volunteer h1 {
    font-size: 60px;
    margin-bottom: 50px;
  }

  @media screen and (min-width: 800px) {
    .volunteer {
      font-family: 'Poppins', sans-serif;
      margin-left: 300px;
      margin-top: 80px;
      color: #ffff;
      margin-right: 300px;
      height: 60vh;
    }
  }

  @media only screen and (device-width: 768px)
  {
    .home h1 {
      font-size: 70px;
    }
  }

  @media screen and (min-width: 1000px) and (max-width: 1060px) {
    .volunteer {
      font-family: 'Poppins', sans-serif;
      margin-left: 300px;
      margin-top: 80px;
      color: #ffff;
      margin-right: 300px;
      height: 75vh;
      font-size: 30px;
    }
  }

  .apps a {
    color: #ffff;
    margin-top: 10px;
    padding: 0px;
    text-decoration: underline;
  }

  .apps a:hover {
    color: #e1cde4;
  }

.faq {
    font-family: 'Poppins', sans-serif;
    margin-left: 300px;
    margin-top: 80px;
    color: #ffff;
    margin-right: 300px;
  }

  .faq h1 {
    font-size: 70px
  }

.faq h6 {
  font-weight: bold;
}

.box {
  margin-bottom: 50px;
}

.answer {
  margin-bottom: 20px:
}

.register {
  font-family: 'Poppins', sans-serif;
  margin-left: 60px;
  margin-top: 80px;
  color: #ffff;
  margin-right: 30px;
  height: 60vh;
}

.register h1 {
  font-size: 70px
}

.register a {
  color: #ffff;
  margin-top: 10px;
  padding: 5px;
  text-decoration: underline;
}

.register a:hover {
  color: #e1cde4;
}

@media screen and (min-width: 800px) {
  .register {
    font-family: 'Poppins', sans-serif;
    margin-left: 300px;
    margin-top: 80px;
    color: #ffff;
    margin-right: 300px;
    height: 60vh;
  }
}

@media only screen and (device-width: 768px)
{
  .register {
    font-family: 'Poppins', sans-serif;
    margin-left: 200px;
    margin-top: 80px;
    color: #ffff;
    margin-right: 200px;
    height: 70vh;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1060px) {
  .register {
    font-family: 'Poppins', sans-serif;
    margin-left: 300px;
    margin-top: 80px;
    color: #ffff;
    margin-right: 300px;
    height: 75vh;
    font-size: 30px;
  }
}


.sponsors {
  font-family: 'Poppins', sans-serif;
  margin-left: 300px;
  margin-top: 80px;
  color: #ffff;
  margin-right: 300px;
  height: 60vh;
}

.sponsors
h1 {
  font-size: 70px;
}

.sponsors img {
  height: 100px;
  width: 300px;
}

.resources h1 {
  font-size: 70px;
}

.resources {
    font-family: 'Poppins', sans-serif;
    margin-left: 300px;
    margin-top: 200px;
    color: #ffff;
    margin-right: 300px;
    height: 60vh;
}
/*Footer*/
footer {
  text-align: center;
  height: 100%;
  padding: 10px 10px 20px;
  margin-bottom: -10px;
}

.contact a {
  color: #ffff;
  margin-top: 10px;
  padding: 5px;
  text-decoration: underline;
}

.contact p {
  color: #ffff;
  margin-top: 20px;
}

.contact a:hover {
  color: #e1cde4;
}

.contact i {
  padding-left: 10px;
  font-size: 25px;
}
