body {
  background: #BE93C5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7BC6CC, #BE93C5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Poppins', sans-serif;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .stats img {
    width: 40px;
    height: 40px;
  }
}

.navbar {
    transition: all 0.4s;
    font-family: 'Poppins', sans-serif;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}

/* Change navbar styling on scroll */
.navbar.active {
    background:#DBD9EB;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}

.home {
  font-family: 'Poppins', sans-serif;
  margin-left: 60px;
  margin-top: 120px;
  color: #ffff;
  margin-right: 20px;
  font-size: 15px;
}

.home h1 {
  font-size: 45px;
}

@media screen and (min-width: 800px) {
  .home {
    margin-right: 300px;
    margin-left: 300px;
    font-size: 20px;
  }
}

@media screen and (min-width: 800px) {
  .home h1 {
    font-size: 70px;
  }
}

@media only screen and (device-width: 768px)
{
  .home h1 {
    font-size: 70px;
  }
}

@media only screen and (device-width: 768px)
{
  .home {
    margin-right: 100px;
    margin-left: 100px;
    font-size: 20px;
  }
}

.subitle {
  font-weight: 100;
}

.about {
  margin-top: 50px;
  margin-bottom: 50px;
}

/** #stats
{
  width: 170px;
	height: 170px;
	background:#e1cde4;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
  float:left;
  margin:5px;
  text-align: justify;
}
.count
{
  line-height: 100px;
  color:white;
  margin-left:50px;
  font-size:30px;
}
**/
@media screen and (min-width: 800px) {
  .stats {
    margin-left: 170px;
  }
}

.stats {
  margin-left: 20px;
}

.stats img {
  width: 100px;
  height: 100px;
}

@media (max-width: 768px ) and (min-width: 684px)
{
  .stats img {
    margin-left: 90px;
  }
}

@media only screen and (min-width: 1060px)
{
  .stats img {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (min-width: 1060px)
{
  .stats {
    margin-left: 200px;
  }
}

@media screen and (min-width: 800px) {
  .stats img {
    width: 150px;
    height: 150px;
  }
}

@media only screen and (device-width: 768px)
{
  .home h1 {
    font-size: 70px;
  }
}

.volunteer {
    font-family: 'Poppins', sans-serif;
    margin-left: 60px;
    margin-top: 120px;
    color: #ffff;
    margin-right: 30px;
    height: 100%;
  }

  .volunteer h1 {
    font-size: 55px;
    margin-bottom: 50px;
  }

  @media screen and (min-width: 800px) {
    .volunteer {
      font-family: 'Poppins', sans-serif;
      margin-left: 300px;
      margin-top: 80px;
      color: #ffff;
      margin-right: 300px;
      height: 60vh;
    }
  }

  @media only screen and (device-width: 768px)
  {
    .volunteer h1 {
      font-size: 70px;
    }
  }

  @media screen and (min-width: 1000px) and (max-width: 1060px) {
    .volunteer {
      font-family: 'Poppins', sans-serif;
      margin-left: 300px;
      margin-top: 80px;
      color: #ffff;
      margin-right: 300px;
      height: 75vh;
      font-size: 30px;
    }
  }

  .apps a {
    color: #ffff;
    margin-top: 10px;
    padding: 0px;
    text-decoration: underline;
  }

  .apps a:hover {
    color: #e1cde4;
  }

.faq {
    font-family: 'Poppins', sans-serif;
    margin-left: 80px;
    margin-top: 120px;
    color: #ffff;
    margin-right: 20px;
  }

  @media screen and (min-width: 800px) {
    .faq {
      font-family: 'Poppins', sans-serif;
      margin-left: 300px;
      margin-top: 80px;
      color: #ffff;
      margin-right: 300px;
    }
  }

  .faq h1 {
    font-size: 70px
  }

.faq h6 {
  font-weight: bold;
  font-size: 20px;
}

.box {
  margin-bottom: 50px;
}

.answer {
  margin-bottom: 30px;
}

.register {
  font-family: 'Poppins', sans-serif;
  margin-left: 60px;
  margin-top: 120px;
  color: #ffff;
  margin-right: 30px;
  height: 60vh;
}

.register h1 {
  font-size: 60px;
}

.register a {
  color: #ffff;
  margin-top: 10px;
  padding: 5px;
  text-decoration: underline;
}

.register a:hover {
  color: #e1cde4;
}

@media screen and (min-width: 800px) {
  .register {
    font-family: 'Poppins', sans-serif;
    margin-left: 300px;
    margin-top: 120px;
    color: #ffff;
    margin-right: 300px;
    height: 60vh;
  }
}

@media only screen and (device-width: 768px)
{
  .register {
    font-family: 'Poppins', sans-serif;
    margin-left: 200px;
    margin-top: 80px;
    color: #ffff;
    margin-right: 200px;
    height: 70vh;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1060px) {
  .register {
    font-family: 'Poppins', sans-serif;
    margin-left: 300px;
    margin-top: 80px;
    color: #ffff;
    margin-right: 300px;
    height: 75vh;
    font-size: 30px;
  }
}

.speakers {
  font-family: 'Poppins', sans-serif;
  margin-left: 60px;
  margin-top: 120px;
  color: #ffff;
  margin-right: 30px;
}

.speakers h1 {
  font-size: 55px;
}

.speakers img {
  float: left;
  border-radius: 50%;
  width: 210px;
  height: 230px;
  margin-right: 50px;
  transition: all .2s ease-in-out;
  margin-bottom: 40px;
}

.eimg img {
  width: 220px;
  height: 240px;
}

.speakers h2 {
  font-weight: bold;
}

.speakers img:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 800px) {
  .speakers {
    font-family: 'Poppins', sans-serif;
    margin-left: 300px;
    margin-top: 80px;
    color: #ffff;
    margin-right: 300px;
  }
}

@media only screen and (device-width: 768px)
{
  .speakers {
    font-family: 'Poppins', sans-serif;
    margin-left: 200px;
    margin-top: 80px;
    color: #ffff;
    margin-right: 200px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1060px) {
  .speakers {
    font-family: 'Poppins', sans-serif;
    margin-left: 300px;
    margin-top: 80px;
    color: #ffff;
    margin-right: 300px;
    font-size: 30px;
  }
}

@media only screen and (max-width: 760px) {
  .speakers img {
    width: 200px;
    height: 200px;
    text-align: center;
  }
}

button {
font-family: 'Poppins', sans-serif;
background-color: #DBD9EB;
border: none;
color: black;
padding: 7px 12px;
text-align: center;
display: block;
text-decoration: none;
font-size: 7px;
cursor: pointer;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
border-radius: 30px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
margin-bottom: 40px;
}

.appbutton a:link, a:visited {
  color: #A67BD4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.appbutton {
  margin-top: 30px;
}

.mentorship {
    font-family: 'Poppins', sans-serif;
    margin-left: 80px;
    margin-top: 120px;
    color: #ffff;
    margin-right: 20px;
  }

  @media screen and (min-width: 800px) {
    .mentorship {
      font-family: 'Poppins', sans-serif;
      margin-left: 300px;
      margin-top: 80px;
      color: #ffff;
      margin-right: 300px;
    }
  }

  .mentorship h1 {
    font-size: 40px;
    text-align: center;
  }

.col-sm h4 {
  margin-top: 20px;
  font-weight: bold;
}

@media screen and (min-width: 800px) {
  .mentorship h1 {
    font-size: 70px;
  }
}

.container h2 {
  font-weight: bold;
  margin-bottom: 60px;
}

/** .sponsors {
  font-family: 'Poppins', sans-serif;
  margin-left: 80px;
  margin-top: 80px;
  color: #ffff;
  margin-right: 30px;
  height: 70vh;
}

.sponsors h1 {
  font-size: 50px
}

.sponsors img {
  height: 100px;
  width: 300px;
}
**/

.resources {
  font-family: 'Poppins', sans-serif;
  margin-left: 80px;
  margin-top: 120px;
  color: #ffff;
  margin-right: 30px;
  height: 60vh;
}

.resources h1 {
  font-size: 50px
}

.resources a {
  color: #ffff;
  margin-top: 10px;
  padding: 5px;
  text-decoration: underline;
}

.resources a:hover {
  color: #e1cde4;
}

@media screen and (min-width: 800px) {
  .resources {
    font-family: 'Poppins', sans-serif;
    margin-left: 300px;
    margin-top: 80px;
    color: #ffff;
    margin-right: 300px;
    height: 50vh;
  }
}

@media screen and (min-width: 800px) {
  .resources h1 {
    font-size: 70px;
    margin-top: 150px;
  }
}


@media only screen and (device-width: 768px)
{
  .resources {
    font-family: 'Poppins', sans-serif;
    margin-left: 200px;
    margin-top: 80px;
    color: #ffff;
    margin-right: 200px;
    height: 70vh;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1060px) {
  .resources {
    font-family: 'Poppins', sans-serif;
    margin-left: 300px;
    margin-top: 80px;
    color: #ffff;
    margin-right: 300px;
    height: 75vh;
    font-size: 30px;
  }
}

/*Footer*/
footer {
  text-align: center;
  height: 100%;
  padding: 10px 10px 20px;
  margin-bottom: -10px;
}

.contact a {
  color: #ffff;
  margin-top: 10px;
  padding: 5px;
  text-decoration: underline;
}

.contact p {
  color: #ffff;
  margin-top: 20px;
}

.contact a:hover {
  color: #e1cde4;
}

.contact i {
  padding-left: 10px;
  font-size: 25px;
}
